<div class="container">
	<br>
	<form action="/friendForm/friend/action" method="POST">
		<input type="hidden" name="_id" value="{{friend._id}}">
		<div class="form-group">
			<label for="surname">Surname</label>
			<input type="text" class="form-control" id="surname" name="surname" value="{{friend.surname}}">
		</div>
		<div class="form-group">
			<label for="lastname">Lastname</label>
			<input type="text" class="form-control" id="lastname" name="lastname" value="{{friend.lastname}}">
		</div>
		<div class="form-group">
			<label for="age">Age</label>
			<input type="text" class="form-control" id="age" name="age" value="{{friend.age}}">
		</div>
		<button type="submit" class="btn btn-outline-primary">Done</button>
		<a href="/" class="btn btn-dark">Cancel</a>
	</form>
</div>